@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .other-packages
    &__grid
      grid-gap: 10px
      grid-template-columns: repeat(3, 310px)
  .card
    &-1
      width: 630px
      &-header
        width: 315px
        &__image
          object-fit: cover
      &-main
        padding: 35px 15px 20px 35px
    &-2, &-3, &-4, &-5
      width: 310px
      &-main
        padding: 30px 15px 20px 35px
        &__info
          padding-top: 50px
        &__footer
          padding-top: 40px
  .footer
    &__input
      flex-basis: 100%

@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
    &-right
      flex-direction: row
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &__title
      font-size: 30px
      font-weight: 700
      line-height: 38px
    &-slider
      &__item
        max-width: 580px

      &__button
        top: 40%
        &-prev
          left: -10%
        &-next
          right: -10%
  .activities
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
  .other-packages
    &__grid
      grid-gap: 20px
      grid-template-columns: 1fr 1fr
      grid-template-rows: 1fr 1fr 1fr
  .card
    &-1
      width: 710px
      &-header
        width: 355px
      &-main
        &__text
          padding-top: 45px
    &-2, &-3, &-4, &-5
      width: 345px
      &-main
        &__info
          padding-top: 20px
  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-gap: 40px
    &__input
      flex-basis: 49%
    &__logo
      grid-row: 1/2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1/2
        grid-column: span 4
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: span 2
    &__additional
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact-details
      grid-column: span 5
      grid-row: 3
    &__contacts-form
      grid-column: span 5
      grid-row: 4
    &__disclaimer
      grid-column: 2/6
      align-self: end
      justify-self: center
    &__payicons
      align-self: end
      justify-self: end
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      outline: none
      &__line
        width: 16px
        height: 1px
        background-color: $textColor
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        flex-basis: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      align-items: flex-start
      flex-direction: column
  .reviews
    &__title
      padding-bottom: 50px
    &-slider
      &__button
        top: 40%
        &-prev
          left: -10%
        &-next
          right: -10%
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .other-packages
    &__grid
      grid-template-columns: 1fr
      grid-template-rows: repeat(auto-fill, 250px)
  .card
    &-1
      grid-column: auto
      height: auto
      width: auto
      &-header
        &__promo
          width: 60px
          height: 18px
          font-size: 8px
          line-height: 10px
          padding: 4px 9px
      &-main
        &__text, &__rating
          display: none
          // padding-top: 45px
    &-2, &-3, &-4, &-5
      flex-direction: row
      width: auto
      height: auto
      &-main
        &__info
          padding-top: 20px
    &-1, &-2, &-3, &-4, &-5
      &-header
        width: 50%
        height: 250px
        &__image
          object-fit: cover
          width: 100%
          max-height: 250px
      &-main
        padding: 20px 10px 10px 20px
        &__info
          padding-top: 30px
        &__footer
          padding-top: 65px
          &-info
        &-footer
          &__button
            width: 100px
            height: 30px
            font-size: 12px
            padding: 5px 10px
      &-info
        &-text
          padding-bottom: 5px
          &__icon
            padding-right: 5px
      &-footer
        &-price
          &__old
            font-size: 12px
          &__new
            font-size: 14px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    margin-bottom: 50px
    &__title
      font-size: 18px
      line-height: 23px
      padding-bottom: 42px
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 30px
        &-prev
          left: 40%
          transform: translate(-50%, 0)
          margin-left: -65px
        &-next
          right: 40%
          transform: translate(50%, 0)
          margin-right: -65px
  .card
    width: 100%
  .activities
    &__title
      font-family: Mulish
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .other-packages
    &__grid
      grid-column: 1
  .card
    &-1, &-2, &-3, &-4, &-5
      justify-content: space-between
      flex-direction: row
      width: auto
      height: auto
      grid-column: auto
      &-header
        display: none
      &-main
        padding: 20px 10px 10px 20px
        justify-content: space-between
        flex-grow: 1
        &__info
          padding-top: 30px
        &__footer
          padding-top: 15px
        &-footer
          flex-direction: row
          &-price
      &-footer
        &-price
          margin-top: 0
          flex-grow: 1
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact-details
      grid-row: 6
      grid-column: 1
    &__contacts-form
      grid-row: 7
      grid-column: 1
    &__disclaimer
      grid-row: 8
      grid-column: 1
      align-self: end
      justify-self: start
    &__payicons
      grid-row: 8
      grid-column: 1
      align-self: end
      justify-self: end
